<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="container">
<div class="alert alert-primary" role="alert">
<h1>{{ question.question_text }}</h1>
</div>

  <select multiple class="form-control" id="exampleFormControlSelect2">
      {% for choice in question.choice_set.all %}
     <option>{{ choice.choice_text }}  </option>
{% endfor %}

    </select>

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>
<div class="container">
<form action="{% url 'polls:vote' question.id %}" method="post"c class="form-control">
 <div class="form-group">
{% csrf_token %}
{% for choice in question.choice_set.all %}
<div class="input-group">

    <input type="radio" class="form-control" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
     <span class="input-group-addon" id="basic-addon1">{{ choice.id }}</span>
    <label class="form-control" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
</div>
{% endfor %}
<input type="submit" value="Vote" class="form-control">
</div>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>